---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import Technologies from "../components/Technologies.astro";
import Projects from "../components/Projects.astro";
import Perfil from "../components/Perfil.astro";
---

<Layout title="Portfolio de miller - Desarrollador y Programador Web">
	<main>
		<section
			class="w-full lg:w-[840px] mx-auto pt-44 flex flex-col items-center pb-20 animate-fade-in-y"
		>
			<img
				class="rounded-full w-12 h-12 mb-4 p-1 ring-2 ring-gray-300 dark:ring-gray-500"
				src="https://illgetdrivethru.files.wordpress.com/2019/12/how-many-christian-bale-batman-movies-are-there.jpg"
				alt=""
			/>
			<h1
				class="text-white text-7xl font-bold flex flex-row gap-x-4 pb-10"
			>
				Hey, soy miller
			</h1>
			<h2 class="text-2xl opacity-80 text-wrap">
				Desarrollador Fullstack con más de 2 años de experiencia en el
				diseño y creación de aplicaciones web. <span
					class="opacity-80 text-yellow-300"
					>Especializado en tecnologías front-end y back-end para
					ofrecer soluciones completas.
				</span> Resido en Huila, Colombia.
			</h2>

			<div class="my-10 flex gap-x-4">
				<a
					href="https://github.com/millerbermeo"
					target="_blank"
					class="inline-flex gap-2 items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-200 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700"
				>
					<ion-icon name="logo-github"></ion-icon> GitHub
				</a>

				<a
					href="https://www.linkedin.com/in/miller-rivera/"
					target="_blank"
					class="inline-flex gap-2 items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-200 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700"
				>
					<ion-icon name="logo-linkedin"></ion-icon>
					LinkedIn
				</a>

				<a href="mailto:millerrivera2002@gmail.com" class="inline-flex gap-2 items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-200 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700">
					<ion-icon name="mail-outline"></ion-icon>
					millerrivera2002@gmail.com
				</a>
				
			</div>
		</section>
		<section id="about"
			class="w-full flex flex-row-reverse justify-center items-start lg:w-[1400px] mt-40 gap-10 mx-auto pt-20"
		>
			<Technologies />
			<Perfil />
		</section>

		<section class="w-full lg:w-[1240px] mx-auto my-28">
			<Projects />
		</section>
	</main>
</Layout>
