<header class="flex fixed top-0 items-center justify-center py-6 w-full bg-black z-30 mx-auto">
    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="/#home">Home</a>
        <a href="/#about">About Me</a>
        <a href="/#projects">Projects</a>
        <a class="hidden lg:flex" href="mailto:devmiller25@gmail.com">Contact</a>
    </nav>
</header>
