<h3 class="text-4xl font-extrabold dark:text-white my-8 pt-14" id="projects">
    My's Projects as Programming
</h3>

<div class="relative h-full w-full bg-slate-950">
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4 h-[80vh] max-h-[80vh]">
        <div class="grid gap-4">
            <div>
                <img
                    class="h-auto max-w-full rounded-lg"
                    src="login2.png"
                    alt=""
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full rounded-lg"
                    src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-1.jpg"
                    alt=""
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full rounded-lg"
                    src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-2.jpg"
                    alt=""
                />
            </div>
        </div>
        <div class="grid gap-4">
            <div>
                <img
                    class="h-auto max-w-full rounded-lg"
                    src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-3.jpg"
                    alt=""
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full rounded-lg"
                    src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-4.jpg"
                    alt=""
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full rounded-lg"
                    src="https://www.searchenginejournal.com/wp-content/uploads/2023/08/best-landing-page-examples-64e6080f990bb-sej.png"
                    alt=""
                />
            </div>
        </div>
        <div class="grid gap-4">
            <div>
                <img
                    class="h-auto max-w-full rounded-lg"
                    src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-6.jpg"
                    alt=""
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full rounded-lg"
                    src="https://i.pinimg.com/originals/86/d9/a7/86d9a73c684f759da109c25b28f7604b.png"
                    alt=""
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full rounded-lg"
                    src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-8.jpg"
                    alt=""
                />
            </div>
        </div>
        <div class="grid gap-4">
            <div>
                <img
                    class="h-auto max-w-full rounded-lg"
                    src="https://coreui.io/images/templates/coreui_free_react.webp"
                    alt=""
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full rounded-lg"
                    src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-10.jpg"
                    alt=""
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full rounded-lg"
                    src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-11.jpg"
                    alt=""
                />
            </div>
        </div>
    </div>
    <div
        class="absolute bottom-0 left-[-20%] right-0 top-[-10%] h-[500px] w-[500px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),rgba(255,255,255,0))]"
    >
    </div><div
        class="absolute bottom-0 right-[-20%] top-[-10%] h-[500px] w-[500px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),rgba(255,255,255,0))]"
    >
    </div>
</div>
