<h3 class="text-4xl text-center 2xl:text-5xl font-extrabold dark:text-white my-8 pt-14" id="projects">
    Mis Proyectos como Desarrollador
  </h3>
  
  <div class="relative h-full w-full bg-slate-950">
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4 h-[70vh] max-h-[80vh]">
      <!-- Primera columna de imágenes -->
      <div class="flex flex-col gap-4 ">
        <!-- Cada div contenedor tiene la clase overflow-hidden para que las imágenes no se salgan al escalarse -->
        <div class="flex items-center h-40 justify-center overflow-hidden">
          <img
            class="w-full h-full rounded-lg transform transition-transform  duration-300 ease-in-out hover:scale-110"
            src="img3.png"
            alt="Proyecto 1"
          />
        </div>
        <div class="flex items-center h-40 justify-center overflow-hidden">
          <img
            class="w-full h-full rounded-lg transform transition-transform duration-300 ease-in-out hover:scale-110"
            src="movimientos.png"
            alt="Proyecto 2"
          />
        </div>
        <div class="flex items-center h-40 justify-center overflow-hidden">
          <img
            class="w-full h-full rounded-lg transform transition-transform duration-300 ease-in-out hover:scale-110"
            src="womenmattelsa.PNG"
            alt="Proyecto 3"
          />
        </div>
      </div>
  
      <!-- Segunda columna de imágenes -->
      <div class="flex flex-col gap-4">
        <div class="flex items-center h-40 justify-center overflow-hidden">
          <img
            class="w-full h-full rounded-lg transform transition-transform duration-300 ease-in-out hover:scale-110"
            src="dashboard.png"
            alt="Proyecto 4"
          />
        </div>
        <div class="flex items-center h-40 justify-center overflow-hidden">
          <img
            class="w-full h-full rounded-lg transform transition-transform duration-300 ease-in-out hover:scale-110"
            src="insta.png"
            alt="Proyecto 5"
          />
        </div>
        <div class="flex items-center h-40 justify-center overflow-hidden">
          <img
            class="w-full h-full rounded-lg transform transition-transform duration-300 ease-in-out hover:scale-110"
            src="login.png"
            alt="Proyecto 6"
          />
        </div>
      </div>
  
      <!-- Tercera columna de imágenes -->
      <div class="flex flex-col gap-4">
        <div class="flex items-center h-40 justify-center overflow-hidden">
          <img
            class="w-full h-full rounded-lg transform transition-transform duration-300 ease-in-out hover:scale-110"
            src="womenmattelsa.PNG"
            alt="Proyecto 7"
          />
        </div>
        <div class="flex items-center h-40 justify-center overflow-hidden">
          <img
            class="w-full h-full rounded-lg transform transition-transform duration-300 ease-in-out hover:scale-110"
            src="menmattelsa.PNG"
            alt="Proyecto 8"
          />
        </div>
        <div class="flex items-center h-40 justify-center overflow-hidden">
          <img
            class="w-full h-full rounded-lg transform transition-transform duration-300 ease-in-out hover:scale-110"
            src="img4.png"
            alt="Proyecto 9"
          />
        </div>
      </div>
  
      <!-- Cuarta columna de imágenes -->
      <div class="flex flex-col gap-4">
        <div class="flex items-center h-40 justify-center overflow-hidden">
          <img
            class="w-full h-full rounded-lg transform transition-transform duration-300 ease-in-out hover:scale-110"
            src="movimientos.png"
            alt="Proyecto 10"
          />
        </div>
        <div class="flex items-center h-40 justify-center overflow-hidden">
          <img
            class="w-full h-full rounded-lg transform transition-transform duration-300 ease-in-out hover:scale-110"
            src="homemattelsa.PNG"
            alt="Proyecto 11"
          />
        </div>
        <div class="flex items-center h-40 justify-center overflow-hidden">
          <img
            class="w-full h-full rounded-lg transform transition-transform duration-300 ease-in-out hover:scale-110"
            src="chat.png"
            alt="Proyecto 12"
          />
        </div>
      </div>
    </div>
  </div>
  