<h3 class="text-4xl text-center 2xl:text-5xl font-extrabold dark:text-white my-8 pt-14" id="projects">
  Mis Proyectos como Desarrollador
</h3>

<div class="relative h-full w-full bg-slate-950">
  <div class="grid grid-cols-2 md:grid-cols-4 gap-4 h-[70vh] max-h-[80vh]">

    <!-- Primera columna de im치genes -->
    <div class="flex flex-col gap-4">
      <div class="flex items-center h-40 justify-center overflow-hidden">
        <a href="https://github.com/millerbermeo/SistemaFrontend/tree/main/src" class="h-full" target="_blank">
          <img
            class="w-full h-full rounded-lg transform transition-transform  duration-300 ease-in-out hover:scale-110"
            src="img3.png"
            alt="Proyecto 1"
          />
        </a>
      </div>
      <div class="flex items-center h-40 justify-center overflow-hidden">
        <a href="https://github.com/millerbermeo/frontend_cas" class="h-full" target="_blank">
          <img
            class="w-full h-full rounded-lg transform transition-transform duration-300 ease-in-out hover:scale-110"
            src="movimientos.png"
            alt="Proyecto 2"
          />
        </a>
      </div>
      <div class="flex items-center h-40 justify-center overflow-hidden">
        <a href="https://mattelsa.vercel.app/" class="h-full" target="_blank">
          <img
            class="w-full h-full rounded-lg transform transition-transform duration-300 ease-in-out hover:scale-110"
            src="womenmattelsa.PNG"
            alt="Proyecto 3"
          />
        </a>
      </div>
    </div>

    <!-- Segunda columna de im치genes -->
    <div class="flex flex-col gap-4">
      <div class="flex items-center h-40 justify-center overflow-hidden">
        <a href="https://github.com/millerbermeo/frontend_cas" class="h-full" target="_blank">
          <img
            class="w-full h-full rounded-lg transform transition-transform duration-300 ease-in-out hover:scale-110"
            src="dashboard.png"
            alt="Proyecto 4"
          />
        </a>
      </div>
      <div class="flex items-center h-40 justify-center overflow-hidden">
        <a href="https://github.com/millerbermeo/chat_socket" class="h-full" target="_blank">
          <img
            class="w-full h-full rounded-lg transform transition-transform duration-300 ease-in-out hover:scale-110"
            src="insta.png"
            alt="Proyecto 5"
          />
        </a>
      </div>
      <div class="flex items-center h-40 justify-center overflow-hidden">
        <a href="https://github.com/millerbermeo/backend_cas" class="h-full" target="_blank">
          <img
            class="w-full h-full rounded-lg transform transition-transform duration-300 ease-in-out hover:scale-110"
            src="login.png"
            alt="Proyecto 6"
          />
        </a>
      </div>
    </div>

    <!-- Tercera columna de im치genes -->
    <div class="flex flex-col gap-4">
      <div class="flex items-center h-40 justify-center overflow-hidden">
        <a href="https://mattelsa.vercel.app/" class="h-full"  target="_blank">
          <img
            class="w-full h-full rounded-lg transform transition-transform duration-300 ease-in-out hover:scale-110"
            src="womenmattelsa.PNG"
            alt="Proyecto 7"
          />
        </a>
      </div>
      <div class="flex items-center h-40 justify-center overflow-hidden">
        <a href="https://link-proyecto8.com" class="h-full"  target="_blank">
          <img
            class="w-full h-full rounded-lg transform transition-transform duration-300 ease-in-out hover:scale-110"
            src="menmattelsa.PNG"
            alt="Proyecto 8"
          />
        </a>
      </div>
      <div class="flex items-center h-40 justify-center overflow-hidden">
        <a href="https://github.com/millerbermeo/sistemaFacturacion" class="h-full"  target="_blank">
          <img
            class="w-full h-full rounded-lg transform transition-transform duration-300 ease-in-out hover:scale-110"
            src="img4.png"
            alt="Proyecto 9"
          />
        </a>
      </div>
    </div>

    <!-- Cuarta columna de im치genes -->
    <div class="flex flex-col gap-4">
      <div class="flex items-center h-40 justify-center overflow-hidden">
        <a href="https://github.com/millerbermeo/backend_cas" class="h-full"  target="_blank">
          <img
            class="w-full h-full rounded-lg transform transition-transform duration-300 ease-in-out hover:scale-110"
            src="movimientos.png"
            alt="Proyecto 10"
          />
        </a>
      </div>
      <div class="flex items-center h-40 justify-center overflow-hidden">
        <a href="https://mattelsa.vercel.app/" class="h-full"  target="_blank">
          <img
            class="w-full h-full rounded-lg transform transition-transform duration-300 ease-in-out hover:scale-110"
            src="homemattelsa.PNG"
            alt="Proyecto 11"
          />
        </a>
      </div>
      <div class="flex items-center h-40 justify-center overflow-hidden">
        <a href="https://chat-whatsapp-sigma.vercel.app/" class="h-full" target="_blank">
          <img
            class="w-full h-full rounded-lg transform transition-transform duration-300 ease-in-out hover:scale-110"
            src="chat.png"
            alt="Proyecto 12"
          />
        </a>
      </div>
    </div>
  </div>
</div>
