---
import HtmlIcon from "../components/icons/HtmlIcon.astro";
import CssIcon from "../components/icons/CssIcon.astro";
import JavascriptIcon from "../components/icons/JavascriptIcon.astro";
import Tailwindicon from "../components/icons/Tailwindicon.astro";
import BootstrapIcon from "../components/icons/BootstrapIcon.astro";
import ReactIcon from "../components/icons/ReactIcon.astro";
import AstroIcon from "../components/icons/AstroIcon.astro";
import NodeIcon from "../components/icons/NodeIcon.astro";
import PhpIcon from "../components/icons/PhpIcon.astro";
import LaravelIcon from "../components/icons/LaravelIcon.astro";
import MysqlIcon from "../components/icons/MysqlIcon.astro";
import FigmalIcon from "../components/icons/FigmaIcon.astro";
import PostmanlIcon from "../components/icons/Postman.astro";
import GitIcon from "../components/icons/GitIcon.astro";

---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
    <li class="mb-10 ms-6">
        <span
            class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900"
        >
            <svg
                class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
            >
                <path
                    d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"
                ></path>
            </svg>
        </span>
        <h3
            class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white"
        >
            Frontend<span
                class="bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300 ms-3"
                >Latest</span>
        </h3>
        <!-- <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Released on January 13th, 2022</time> -->
        <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
            Mi enfoque se centra en la implementación de tecnologías como HTML,
            CSS y JavaScript.
        </p>
        <div class="flex flex-row gap-x-5 justify-start items-center">
            <div class="size-10 flex items-center justify-start">
                <HtmlIcon />
            </div>
            <div class="size-10 flex items-center justify-start">
                <CssIcon />
            </div>
            <div class="size-10 flex items-center justify-start">
                <JavascriptIcon />
            </div>
            <div class="size-10 flex items-center justify-start">
                <Tailwindicon />
            </div>
            <div class="size-10 flex items-center justify-start">
                <BootstrapIcon />
            </div>
            <div class="size-10 flex items-center justify-start">
                <ReactIcon />
            </div>
            <div class="size-8 pt-2 flex items-center justify-start">
                <AstroIcon />
            </div>
        </div>
    </li>
    <li class="mb-10 ms-6">
        <span
            class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900"
        >
            <svg
                class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
            >
                <path
                    d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"
                ></path>
            </svg>
        </span>
        <h3 class="mb-1 text-lg font-semibold text-gray-900 dark:text-white">
            Backend
        </h3>
        <p class="text-base font-normal text-gray-500 dark:text-gray-400">
            All of the pages and components are first designed in Figma and we
            keep a parity between.
        <div class="flex flex-row gap-x-5 justify-start items-center mt-4">
            <div class="size-10 flex items-center justify-start">
                <NodeIcon />
            </div>
            <div class="size-10 flex items-center justify-start">
                <PhpIcon />
            </div>
            <div class="size-8 pt-2 flex items-center justify-start">
                <LaravelIcon />
            </div>
            <div class="size-10 flex items-center justify-start">
                <MysqlIcon />
            </div>
        </div>
    </li>
    <li class="ms-6">
        <span
            class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900"
        >
            <svg
                class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
            >
                <path
                    d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"
                ></path>
            </svg>
        </span>
        <h3 class="mb-1 text-lg font-semibold text-gray-900 dark:text-white">
            Other tecnologies
        </h3>
        <p class="text-base font-normal text-gray-500 dark:text-gray-400">
            Get started with dozens of web components and interactive elements
            built.
        </p>
        <div class="flex flex-row gap-x-5 justify-start items-center mt-4">
            <div class="size-7 flex items-center justify-start">
                <FigmalIcon />
            </div>
            <div class="size-10 flex items-center justify-start">
                <PostmanlIcon />
            </div>
            <div class="size-10 flex items-center justify-start">
                <GitIcon />
            </div>
        </div>
    </li>
</ol>
